language: cpp

compiler:
  - gcc

before_install:
  - sudo add-apt-repository -y ppa:h-rayflood/llvm
  - sudo apt-get update -qq

install:
  - sudo apt-get install --allow-unauthenticated -qq libboost-dev clang-3.4 libclang-3.4-dev python-pip
  - sudo pip install lit

before_script:
  - mkdir build
  - cd build

script:
  - cmake -DCMAKE_CXX_COMPILER=clang++-3.4 -DCPACK_GENERATOR="TGZ;DEB" ..
  - make all
  - make check
  - mkdir target_dir
  - DESTDIR=target_dir make install
  - make package

after_success:
  - sudo dpkg -i ./constantine-*.deb
